<%- include("../partials/header") %>

    <h1>Developer Skills</h1>
    <ul>
        <% skills.forEach(function(sk) { %>
            <li>
                <p>
                <form action="/skills/<%= sk.id %>?_method=DELETE" method="POST" class="delete-form">
                    <button type="submit">&times;</button>
                </form>
                    <a href="/skills/<%= sk.id %>"><%= sk.skill %></a>
                    - 
                    Level: <%= sk.level %>
                </p>
                <p>In progress: <%= sk.inProgress ? "Yes" : "No" %></p>
            </li>
        <% }); %>
    </ul>

    <a href="/skills/new">Add Skill</a>
    
<%- include("../partials/footer") %>